apiVersion: apps/v1
kind: Deployment
metadata:
  name: delete-controller
  labels:
    app: delete-controller
spec:
  replicas: 1
  selector:
    matchLabels:
      app: delete-controller
  template:
    metadata:
      name: delete-controller
      labels:
        app: delete-controller
    spec:
      containers:
        - name: delete-controller
          image: ronanavila/delete-controller
          env:
          envFrom:
            - configMapRef:
                name: config-map-delete-controller          
            - secretRef:
                name: secret-ms-delete-controller
                optional: true

          # livenessProbe:
          #   httpGet:
          #     path: /api/1
          #     port: 80
          #   initialDelaySeconds: 180
          #   periodSeconds: 60
          # readnessProbe:
          #   httpGet:
          #     path: /api/1
          #     port: 80
          # ports:
          #   - containerPort: 80
          # resources:
          #   limits:
          #     cpu: 2
          #     ephemeral-storage: 1Gi
          #     memory: 8Gi
          #   requests:
          #     cpu: 2
          #     ephemeral-storage: 1Gi
          #     memory: 8Gi
---
apiVersion: v1
kind: Service
metadata:
  annotations:
  labels:
    app: delete-controller
  name: delete-controller-sv
spec:
  ports:
  - protocol: TCP
    port: 8080
    targetPort: 8080
    nodePort: 31400
  selector:
    app: delete-controller
  type: NodePort