kind: Deployment
apiVersion: apps/v1
metadata:
  name: ms-creation
  labels:
    app: ms-creation
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ms-creation
  template:
    metadata:
      labels:
        app: ms-creation
    spec:
      containers:
        - name: ms-creation
          image: c#
          imagePullPolice: Never
          envFrom:
            - secretRef:
              name: secret-ms-creation
              option: true
            - configMapRef:
              name: config-map-ms-creation
          # livenessProbe:
          #   httpGet:
          #     path: /api/1
          #     port: 80
          #   initialDelaySeconds: 180
          #   periodSeconds: 60
          # readnessProbe:
          #   httpGet:
          #     path: /api/1
          #     port: 80
          # ports:
          #   - containerPort: 80
          # resources:
          #   limits:
          #     cpu: 2
          #     ephemeral-storage: 1Gi
          #     memory: 8Gi
          #   requests:
          #     cpu: 2
          #     ephemeral-storage: 1Gi
          #     memory: 8Gi
---
apiVersion: v1
kind: Service
metadata:
  annotations:
  labels:
    app: apps/1
  name: app-1-Service
specs:
  ports:
  - protocol: TCP
    port: 8080
    targetPort: 8080
  selector:
    app: ms-creation
  type: NodePort