global:
  scrape_interval: 15s
  scrape_timeout: 10s

scrape_configs:
  - job_name: contact-creation
    metrics_path: /metrics
    static_configs:
      - targets:
          - host.docker.internal:8090

  - job_name: contact-update
    metrics_path: /metrics
    static_configs:
      - targets:
        - host.docker.internal:8091


  - job_name: contact-search
    metrics_path: /metrics
    static_configs:
      - targets:
        - host.docker.internal:8092

  - job_name: contact-delete
    metrics_path: /metrics
    static_configs:
      - targets:
        - host.docker.internal:8093

  - job_name: prometheus
    metrics_path: /metrics
    static_configs:
      - targets:
          - 0.0.0.0:9090

  - job_name: docker
    metrics_path: /metrics
    static_configs:
      - targets:
          - host.docker.internal:9323