apiVersion: apps/v1
kind: Deployment
metadata:
  name: creation-consumer
  labels:
    app: creation-consumer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: creation-consumer
  template:
    metadata:
      name: creation-consumer
      labels:
        app: creation-consumer
    spec:
      containers:
        - name: creation-consumer
          image: ronanavila/creation-consumer
          env:
          envFrom:
            - configMapRef:
                name: config-map-creation-consumer          
            - secretRef:
                name: secret-ms-creation-consumer
                optional: true

          # livenessProbe:
          #   httpGet:
          #     path: /api/1
          #     port: 80
          #   initialDelaySeconds: 180
          #   periodSeconds: 60
          # readnessProbe:
          #   httpGet:
          #     path: /api/1
          #     port: 80
          # ports:
          #   - containerPort: 80
          # resources:
          #   limits:
          #     cpu: 2
          #     ephemeral-storage: 1Gi
          #     memory: 8Gi
          #   requests:
          #     cpu: 2
          #     ephemeral-storage: 1Gi
          #     memory: 8Gi
