# apiVersion: v1
# kind: PersistentVolume
# metadata:
#   name: persistent-volume
#   labels:
#     type: local-storage
# spec:
#   storageClassName: hostpath
#   capacity:
#     storage: 10Gi
#   accessModes:
#   - ReadWriteMany
#   hostPath:
#     path: "/mnt/data"