apiVersion: apps/v1
kind: Deployment
metadata:
  name: delete-consumer
  labels:
    app: delete-consumer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: delete-consumer
  template:
    metadata:
      name: delete-consumer
      labels:
        app: delete-consumer
    spec:
      containers:
        - name: delete-consumer
          image: ronanavila/delete-consumer
          env:
          envFrom:
            - configMapRef:
                name: config-map-delete-consumer          
            - secretRef:
                name: secret-ms-delete-consumer
                optional: true

          # livenessProbe:
          #   httpGet:
          #     path: /api/1
          #     port: 80
          #   initialDelaySeconds: 180
          #   periodSeconds: 60
          # readnessProbe:
          #   httpGet:
          #     path: /api/1
          #     port: 80
          # ports:
          #   - containerPort: 80
          # resources:
          #   limits:
          #     cpu: 2
          #     ephemeral-storage: 1Gi
          #     memory: 8Gi
          #   requests:
          #     cpu: 2
          #     ephemeral-storage: 1Gi
          #     memory: 8Gi
