name: .NET
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore --property WarningLevel=0

    - name: Test Create
      run: dotnet test ./src/ContactCreation/TechChallenge.ContactCreation.Tests/TechChallenge.ContactCreation.Tests.csproj --no-build --verbosity minimal

    - name: Integration Test Create
      run: dotnet test ./src/ContactCreation/TechChallange.ContactCreation.IntegrationTests/TechChallange.ContactCreation.IntegrationTests.csproj  --no-build --verbosity minimal

    - name: Test Update
      run: dotnet test ./src/ContactUpdate/TechChallenge.ContactUpdate.Tests/TechChallenge.ContactUpdate.Tests.csproj --no-build --verbosity minimal

    - name: Integration Test Update
      run: dotnet test ./src/ContactUpdate/TechChallange.ContactUpdate.IntegrationTests/TechChallange.ContactUpdate.IntegrationTests.csproj  --no-build --verbosity minimal

    - name: Test Search
      run: dotnet test ./src/ContactSearch/TechChallenge.ContactSearch.Tests/TechChallenge.ContactSearch.Tests.csproj --no-build --verbosity minimal

    - name: Integration Test Search
      run: dotnet test ./src/ContactSearch/TechChallange.ContactSearch.IntegrationTests/TechChallange.ContactSearch.IntegrationTests.csproj  --no-build --verbosity minimal      

    - name: Test Delete
      run: dotnet test ./src/ContactDelete/TechChallenge.ContactDelete.Tests/TechChallenge.ContactDelete.Tests.csproj --no-build --verbosity minimal

    - name: Integration Test Delete
      run: dotnet test ./src/ContactDelete/TechChallange.ContactDelete.IntegrationTests/TechChallange.ContactDelete.IntegrationTests.csproj  --no-build --verbosity minimal  

